.aboutSection {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: last baseline;
    background-color: var(--faded-blue);
    padding: 4rem;
}

.heading {
    font-size: 4rem;
}

.bio {
    max-width:  400px;
    margin-top: 0;
}

.bio p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    font-size: large;
    font-weight: lighter;
}

