.aboutSection {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: last baseline;
    background-color: var(--faded-blue);
    padding: 4rem;
}

@media (max-width: 900px) {
    .aboutSection {
        flex-wrap: wrap;
    }
}

@media (max-width: 580px) {
    .aboutSection {
        padding: 0rem;
    }
}

@media (max-width: 400px) {
    .heading {
        font-size: 3rem !important;
    }
}



.heading {
    font-size: 4rem;
}

.bio {
    max-width:  400px;
    margin-top: 0;
}

.bio p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    font-size: large;
    font-weight: lighter;
}

