.projectsSection {
    position: relative;
    height: 100%;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    background-color: var(--faded-blue);
    padding: 4rem;
}

@media (max-width: 1050px) {
    .projectsSection {
        
    }
}