* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
   font-family: 'Merriweather', serif;
}

:root {
  --faded-blue: #93AECE;
  --dark-blue: #2c5772;
  --brown: #C7C0C8;
  --dark-brown: #61574A;
  --red: #AA3C29;
  --gray: #8F9297;
  --dark-gray: #1A1D17;
  --dark-pink: #B291AE;
  --light-pink: #ECBBC4;

}

html, body, #root {
  height: 100vh;
  width: 100vw;
  background-color: var(--faded-blue);
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* ensures full height of the viewport */
}

.main-container {
  flex: 1; /* pushes the footer to the bottom */
  padding: 2rem;
}

body::-webkit-scrollbar {
  display: none;              
}
